{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-4 problem-description">
            <div>
                <h2>Description:</h2>
            </div>
        </div>
        <div class="col-8 solution">
            <h2>Solutions:</h2>
            <div>
                <ul>
                    {% for pc in postalcodes %}
                        <li><span>{{ pc.postcode }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}